1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/maqueta[!!-~]analizador/maqueta-analizador/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/maqueta[!!-~]analizador/maqueta-analizador/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/maqueta[!!-~]analizador/maqueta-analizador/lib
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/maqueta[!!-~]analizador/maqueta-analizador/lib/jfreechart-1.0.13.jar
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/Torito-Chart-Server/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/Torito-Chart-Server/cache
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/Torito-Chart-Server/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-cron4j/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-cron4j/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-jfc/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-jfc/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-jfc_1/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-jfc_1/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-log4j/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-log4j/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-2/bin
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-2/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-2/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-3/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-3/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-3_ibatis/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-3_ibatis/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-4
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-4/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-4/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-5/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-5/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-5/log
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-6/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc-6/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc/bin
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-servicio-pfc/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-sqlite/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-sqlite/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-swg/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/ejemplo-swg/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.VisorMsg/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.VisorMsg/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.chartserver/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.chartserver/cache
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.chartserver/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.crypto/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.crypto/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.tcp/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.tcp/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.util.FileCopy/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/josejamilena.pfc.servidor.util.FileCopy/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/practicalb/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/practicalb/dist
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/sqlite2csv/build
1[!!-~]-[!!-~]analisis[!!-~]de[!!-~]requisitos/prospecciones[!!-~]java/sqlite2csv/dist
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/analizador/build
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/analizador/dist
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.cliente.estadisticas/build
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.cliente.estadisticas/dist
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.servidor.chartserver/build
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.servidor.chartserver/cache
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.servidor.chartserver/dist
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.servidor.tcp/build
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.servidor.tcp/dist
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/josejamilena.pfc.servidor.tcp/test
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/servicio/build
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/servicio/dist
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/servicio/log
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/servicio/smtpserver/smtp
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/servicio/smtpserver/users
4[!!-~]-[!!-~]implementacion,[!!-~]pruebas[!!-~]y[!!-~]documentacion/4.1[!!-~]-[!!-~]implementacion/servicio/test
5[!!-~]-[!!-~]implantacion[!!-~]y[!!-~]mantenimiento/5.1[!!-~]-[!!-~]implantacion/20090711/servicio/log
7[!!-~]-[!!-~]documentacion/7.3[!!-~]-[!!-~]memoria/memoria.docx
7[!!-~]-[!!-~]documentacion/7.3[!!-~]-[!!-~]memoria/proceso[!!-~]de[!!-~]instalacion[!!-~]analizador
7[!!-~]-[!!-~]documentacion/7.3[!!-~]-[!!-~]memoria/proceso[!!-~]de[!!-~]instalacion[!!-~]servicio
